/* Styles cleared */
.productCard {
    width: 32%;
    max-height: 390px;
}

.section {
    height: 220px;
    max-height: 220px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    min-width: auto;
    min-height: 100%;
    flex-shrink: 0;
}