.root {
  min-height: 100vh;
  height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.main {
  padding: 32px;
}

.appShell {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}
